In [1]:
import math
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import torch

In [2]:
# 2017 Enrollment Ratio 'Capacity', can be over 100%, implying better coverage
EnrollRatioCapacity = pd.read_excel('PopEnrollRatio.xls', header=4)
EnrollRatioCapacity = EnrollRatioCapacity.drop(axis=0, index=0)
enroll_capacity = EnrollRatioCapacity.loc[:, [1, 11, 17, 23]]
enroll_capacity = enroll_capacity.drop(axis=0, index=list(range(96, 109)))
enroll_capacity = enroll_capacity.rename(columns={11: "elem enroll ratio", 17: "sec enroll ratio", 23: "postsec enroll ratio"})
enroll_capacity[1] = enroll_capacity[1].str.replace(r'[^a-zA-Z]', '', regex=True)

enroll_capacity

              1 elem enroll ratio sec enroll ratio postsec enroll ratio
1        Africa               NaN              NaN                  NaN
2       Algeria         111.76448              ---             47.64683
3        Angola               ---              ---                  ---
4         Benin         126.64611              ---             12.27414
5   BurkinaFaso          93.65313         38.11725               6.0034
..          ...               ...              ...                  ...
91       Mexico         105.77001        104.38503             40.22896
92         Peru         103.51957        104.69385             70.73786
93    Venezuela          97.15034         88.07702                  ---
94      Oceania               NaN              NaN                  NaN
95    Australia         100.33898        150.31148            113.14216

[95 rows x 4 columns]

In [3]:
EnrollRatio_ByAge = pd.read_excel('ElementaryEnrollRatio.xls', header=3)

# Percent of age groups enrolled, prob just using prek for data here
enroll_clean = EnrollRatio_ByAge.drop(axis=1, columns = [2, "Unnamed: 2", 3, "Unnamed: 4", "Unnamed: 10"])
enroll_clean = enroll_clean.drop(axis=0, index=0)

enroll_prek = enroll_clean.loc[:, [1, 7]]
#enroll_child = enroll_clean.loc[:, [1] + list(range(12, 24))]

enroll_prek = enroll_prek.drop(axis=0, index=list(range(42, 51)))
enroll_prek = enroll_prek.drop(axis=0, index=[39, 40])
enroll_prek[1] = enroll_prek[1].str.replace(r'[^a-zA-Z]', '', regex=True)
enroll_prek = enroll_prek.rename(columns={7: "prek enroll"})

enroll_prek

                    1 prek enroll
1           Australia      79.236
2             Austria      83.724
3             Belgium      98.192
4              Canada         ---
5               Chile      70.474
6            Colombia         ---
7           CostaRica       33.78
8       CzechRepublic      81.458
9             Denmark      97.484
10            Estonia      88.712
11            Finland      71.454
12             France         100
13            Germany      95.022
14             Greece      46.565
15            Hungary      88.242
16            Iceland      96.945
17            Ireland      68.288
18             Israel         100
19              Italy      93.945
20              Japan      87.704
21    KoreaRepublicof      91.481
22             Latvia      89.101
23          Lithuania      81.328
24         Luxembourg      80.366
25             Mexico      67.559
26        Netherlands      89.459
27         NewZealand      91.893
28             Norway      96.234
29             Poland      72.498
30           Portugal      84.616
31     SlovakRepublic      67.727
32           Slovenia      86.064
33              Spain      96.181
34             Sweden      92.185
35        Switzerland      24.805
36             Turkey      20.798
37      UnitedKingdom         100
38       UnitedStates      54.419
41  RussianFederation      81.582

In [4]:
stu_tea_rat = pd.read_excel('PupilTeacherRatio.xls', header=3)
stu_tea_rat = stu_tea_rat.drop(axis=0, index=0)

#Student-teacher ratios
prim_teacher = stu_tea_rat.loc[:, [1]+list(range(2, 7))]
loSec_teacher = stu_tea_rat.loc[:, [1]+list(range(7, 12))]
hiSec_teacher = stu_tea_rat.loc[:, [1]+list(range(12, 17))]

teacher_ratio = stu_tea_rat.loc[:, [1, 2, 7, 12]]
teacher_ratio = teacher_ratio.drop(axis=0, index=list(range(42, 54)))
teacher_ratio = teacher_ratio.rename(columns={2: "elem teacher ratio", 7: "low sec teacher ratio", 12: "hi sec teacher ratio"})

teacher_ratio[1] = teacher_ratio[1].str.replace(r'[^a-zA-Z]', '', regex=True)


teacher_ratio

,1,elem teacher ratio,low sec teacher ratio,hi sec teacher ratio
1,Australia,15.433,---,12.254
2,Austria,11.843,8.73,10.149
3,Belgium,12.784,9.073,9.924
4,Canada,16.978,---,12.966
5,Chile,20.891,21.878,22.975
6,Colombia,24.239,26.695,25.938
7,CostaRica,12.676,14.007,13.858
8,CzechRepublic,18.974,11.841,11.135
9,Denmark,---,---,---
10,Estonia,13.347,9.544,15.229
11,Finland,13.584,8.97,16.474
12,France,19.693,14.433,11.128
13,Germany,15.447,13.261,12.997
14,Greece,---,---,---
15,Hungary,11.235,10.593,11.472
16,Iceland,10.742,10.481,---
17,Ireland,16.205,---,13.871
18,Israel,15.434,11.816,10.794
19,Italy,12.357,11.536,12.469
20,Japan,16.906,13.604,11.961
21,KoreaRepublicof,16.787,15.667,14.09
22,Latvia,11.133,7.724,9.748
23,Lithuania,10.256,7.313,8.081
24,Luxembourg,10.74,10.992,10.754
25,Mexico,26.927,33.557,19.977
26,Netherlands,16.554,16.044,18.033
27,NewZealand,16.451,16.262,12.767
28,Norway,10.28,9.548,10.28
29,Poland,11.091,9.669,10.27
30,Portugal,13.704,9.994,9.698
31,SlovakRepublic,17.156,11.591,13.537
32,Slovenia,15.888,8.479,13.435
33,Spain,13.655,11.907,11.124
34,Sweden,12.831,12.262,14.402
35,Switzerland,15.645,11.948,11.958
36,Turkey,18.405,16.761,14.145
37,UnitedKingdom,18.358,14.269,26.098
38,UnitedStates,15.354,15.374,15.376
39,Otherreportingcountries,NaN,NaN,NaN
40,Brazil,24.791,24.964,23.642
41,RussianFederation,20.566,10.385,---

In [5]:
class_size = pd.read_excel('ClassSize.xls', header=4)
class_size = class_size.drop(axis=0, index=[0]+list(range(41, 61)))

class_size = class_size.loc[:, [1, 14, 15]]
class_size[1] = class_size[1].str.replace(r'[^a-zA-Z]', '', regex=True)
class_size = class_size.rename(columns={14: "elem class size", 15: "low sec class size"})

class_size

                  1 elem class size low sec class size
1         Australia          23.389             21.422
2           Austria          18.412              21.15
3    BelgiumFlemish             ---                ---
4     BelgiumFrench             ---                ---
5            Canada             ---                ---
6             Chile          28.097             28.607
7          Colombia          25.049             31.417
8     CzechRepublic          21.283             21.862
9           Denmark          21.614             21.655
10          Estonia          19.187              18.67
11          Finland           19.57             19.054
12           France          23.453             24.906
13          Germany          20.871             23.963
14           Greece          17.331              20.85
15          Hungary          22.189             20.622
16          Iceland          19.316             20.005
17          Ireland          24.619                ---
18           Israel          27.165             29.137
19            Italy          19.103             20.994
20            Japan          27.237             32.168
21  KoreaRepublicof          23.008             27.604
22           Latvia          16.611             15.599
23        Lithuania          17.025             18.338
24       Luxembourg          15.429             19.125
25           Mexico          24.416             28.212
26      Netherlands            23.1                ---
27       NewZealand             ---                ---
28           Norway             ---                ---
29           Poland          18.679             22.349
30         Portugal          21.295             22.025
31   SlovakRepublic          18.283             19.312
32         Slovenia          18.334             19.933
33            Spain          20.868             24.806
34           Sweden          19.608             20.963
35      Switzerland          19.284             18.638
36           Turkey            21.6             25.681
37    UnitedKingdom          27.881             24.291
38          England             ---                ---
39         Scotland             ---                ---
40     UnitedStates            21.2               26.5

In [6]:
selfrep_bully = pd.read_excel('SelfReportedBully2015.xls', header=4)
selfrep_bully = selfrep_bully.drop(axis=0, index=0)

# Student self reported experience with bullying by frequency and grade
selfrep_bully = selfrep_bully.loc[:, [1]+list(range(2, 8))]
selfrep_bully = selfrep_bully.drop(axis=0, index=list(range(65, 89)))

selfrep_bully[1] = selfrep_bully[1].str.replace(r'[^a-zA-Z]', '', regex=True)
selfrep_bully = selfrep_bully.rename(columns={2: "4th never bullied", 
                  3: "8th never bullied", 4: "4th sometimes bullied", 5: "8th sometimes bullied",
                 6: "4th repeatedly bullied", 7:"8th repeatedly bullied"})


selfrep_bully

,1,4th never bullied,8th never bullied,4th sometimes bullied,8th sometimes bullied,4th repeatedly bullied,8th repeatedly bullied
1,Australia,45,57,36,34,20,9
2,Bahrain,34,49,33,36,33,15
3,BelgiumFlemish,47,---,36,---,17,---
4,Bulgaria,54,---,30,---,16,---
5,Canada,53,65,30,30,17,5
...,...,...,...,...,...,...,...
60,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,Thailand,---,33,---,50,---,17
62,Turkey,57,69,28,26,14,6
63,UnitedArabEmirates,43,58,31,32,26,10
64,UnitedStates,56,64,29,29,15,7

In [7]:
# Teacher rated discpline safety issue severity
school_safety = pd.read_excel('TeacherSafety2015.xls', header=4)
school_safety = school_safety.drop(axis=0, index=0)

school_safety = school_safety.loc[:, [1]+list(range(2, 8))]
school_safety = school_safety.drop(axis=0, index=list(range(65, 173)))
school_safety[1] = school_safety[1].str.replace(r'[^a-zA-Z]', '', regex=True)

school_safety = school_safety.rename(columns={2: "4th safe", 
                  3: "8th safe", 4: "4th mostly safe", 5: "8th mostly safe",
                 6: "4th not safe", 7:"8th not safe"})

school_safety

,1,4th safe,8th safe,4th mostly safe,8th mostly safe,4th not safe,8th not safe
1,Australia,75,60,23,33,2,7
2,Bahrain,56,50,37,44,8,6
3,BelgiumFlemish,43,---,52,---,5,---
4,Bulgaria,69,---,29,---,2,---
5,Canada,55,50,42,45,3,4
...,...,...,...,...,...,...,...
60,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,Thailand,---,44,---,51,---,6
62,Turkey,49,30,44,47,7,23
63,UnitedArabEmirates,62,67,35,32,3,2
64,UnitedStates,55,46,38,41,7,13

In [8]:
# Teacher rated discpline problems severity
school_discipline = pd.read_excel('TeacherDiscipline2015.xls', header=4)
school_discipline = school_discipline.drop(axis=0, index=0)

school_discipline = school_discipline.loc[:, [1]+list(range(2, 8))]
school_discipline = school_discipline.drop(axis=0, index=list(range(65, 174)))
school_discipline[1] = school_discipline[1].str.replace(r'[^a-zA-Z]', '', regex=True)
school_discipline = school_discipline.rename(columns={2: "4th no problems", 
                  3: "8th no problems", 4: "4th minor problems", 5: "8th minor problems",
                 6: "4th severe problems", 7:"8th severe problems"})

school_discipline

,1,4th no problems,8th no problems,4th minor problems,8th minor problems,4th severe problems,8th severe problems
1,Australia,64,48,30,51,â€¡,â€¡
2,Bahrain,59,51,26,36,14,13
3,BelgiumFlemish,68,---,31,---,1,---
4,Bulgaria,72,---,20,---,8,---
5,Canada,66,45,31,54,2,â€¡
...,...,...,...,...,...,...,...
60,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,Thailand,---,42,---,53,---,5
62,Turkey,44,19,29,49,26,32
63,UnitedArabEmirates,61,54,31,40,8,6
64,UnitedStates,69,34,29,64,3,2

In [9]:
# Teacher rated drug problem severity
school_drugs = pd.read_excel('TeacherDrugs.xls', header=4)
school_drugs = school_drugs.drop(axis=0, index=0)
school_drugs = school_drugs.loc[:, [1, 14, 15, 16]]
school_drugs[1] = school_drugs[1].str.replace(r'[^a-zA-Z]', '', regex=True)
school_drugs = school_drugs.drop(axis=0, index=list(range(42, 51)))
school_drugs = school_drugs.rename(columns={14: "No drugs", 15: "Some drugs", 16: "Many drugs"})

school_drugs

                  1  No drugs  Some drugs Many drugs
1         Australia      34.0        58.0          8
2           Austria      60.0        29.0         11
3           Belgium      22.0        69.0          9
4            Canada      10.0        62.0         28
5             Chile      29.0        49.0         22
6               NaN       NaN         NaN        NaN
7     CzechRepublic      57.0        38.0          5
8           Denmark      70.0        27.0          3
9           Estonia      66.0        31.0          3
10          Finland      48.0        48.0          4
11           France      19.0        56.0         25
12              NaN       NaN         NaN        NaN
13          Germany      28.0        61.0         10
14           Greece      71.0        24.0          5
15          Hungary      47.0        43.0         10
16          Iceland      56.0        42.0          1
17          Ireland      41.0        43.0         16
18              NaN       NaN         NaN        NaN
19           Israel      69.0        27.0          4
20            Italy      57.0        36.0          6
21            Japan      75.0        24.0          â€¡
22  KoreaRepublicof      43.0        44.0         14
23           Latvia      59.0        37.0          5
24              NaN       NaN         NaN        NaN
25       Luxembourg      16.0        84.0          â€¡
26           Mexico      34.0        49.0         17
27      Netherlands      20.0        58.0         23
28       NewZealand      20.0        73.0          7
29           Norway      55.0        43.0          â€¡
30              NaN       NaN         NaN        NaN
31           Poland      58.0        39.0          â€¡
32         Portugal      35.0        57.0          8
33   SlovakRepublic      69.0        27.0          4
34         Slovenia      27.0        65.0          9
35            Spain      54.0        43.0          â€¡
36              NaN       NaN         NaN        NaN
37           Sweden      50.0        46.0          4
38      Switzerland      31.0        54.0         15
39           Turkey      70.0        25.0          4
40    UnitedKingdom      48.0        51.0          â€¡
41     UnitedStates      13.0        68.0         19

In [10]:
# Teacher reported bullying
school_bully = pd.read_excel('TeacherBullying.xls', header=4)
school_bully = school_bully.drop(axis=0, index=0)
school_bully = school_bully.drop(axis=0, index=list(range(42, 51)))

school_bully = school_bully.loc[:, [1, 14, 15, 16]]
school_bully[1] = school_bully[1].str.replace(r'[^a-zA-Z]', '', regex=True)

school_bully = school_bully.rename(columns={14: "Teacher no bully", 15: "Teacher some bully", 16: "Teacher many bully"})

school_bully

                  1 Teacher no bully  Teacher some bully Teacher many bully
1         Australia               12                70.0                 18
2           Austria               18                64.0                 18
3           Belgium               14                60.0                 26
4            Canada               14                73.0                 13
5             Chile               21                65.0                 14
6               NaN              NaN                 NaN                NaN
7     CzechRepublic               28                65.0                  7
8           Denmark               28                66.0                  6
9           Estonia               16                67.0                 18
10          Finland                5                72.0                 23
11           France               29                62.0                  9
12              NaN              NaN                 NaN                NaN
13          Germany                7                73.0                 20
14           Greece               50                44.0                  5
15          Hungary               57                38.0                  6
16          Iceland               16                77.0                  7
17          Ireland               13                75.0                 12
18              NaN              NaN                 NaN                NaN
19           Israel               58                41.0                  â€¡
20            Italy               41                55.0                  5
21            Japan               28                68.0                  5
22  KoreaRepublicof               26                66.0                  8
23           Latvia               40                53.0                  7
24              NaN              NaN                 NaN                NaN
25       Luxembourg               19                78.0                  2
26           Mexico               26                58.0                 16
27      Netherlands                â€¡                65.0                 35
28       NewZealand               13                77.0                 10
29           Norway                5                83.0                 12
30              NaN              NaN                 NaN                NaN
31           Poland               30                67.0                  3
32         Portugal               31                61.0                  7
33   SlovakRepublic               43                53.0                  4
34         Slovenia               47                49.0                  3
35            Spain               25                67.0                  8
36              NaN              NaN                 NaN                NaN
37           Sweden               18                70.0                 13
38      Switzerland               18                67.0                 16
39           Turkey               37                57.0                  6
40    UnitedKingdom               21                75.0                  4
41     UnitedStates               13                73.0                 14

In [11]:
### Gdp and education expenditure absolute by year
expend_abs = pd.read_excel('GdpVsEduExpend.xls', header=3)
expend_abs = expend_abs.drop(axis=0, index=[0, 1])
expend_abs = expend_abs.drop(axis=0, index=list(range(80, 92)))
expend_abs = expend_abs.loc[:, [1, 4, 10, 16]]
expend_abs[1] = expend_abs[1].str.replace(r'[^a-zA-Z]', '', regex=True)
expend_abs = expend_abs.rename(columns={4: "gdp per capita", 10: "prim/sec per student spending", 16: "postsec per student spending"})

expend_abs

,1,gdp per capita,prim/sec per student spending,postsec per student spending
2,Australia,46802.793000,10745.37,20304.37
3,Austria,49942.066000,13935.04,17560.62
4,Belgium,46200.887000,11892.67,17469.7
5,Canada,44745.078000,10567.61,21810.46
6,Chile,22603.768000,4261.283,6731.183
...,...,...,...,...
75,Sweden,52640.938689,12416.300852,26457.282758
76,Switzerland,66459.039289,15251.457035,---
77,Turkey,46594.029827,8243.547174,18757.269701
78,UnitedKingdom,45334.742211,12094.56468,28865.41515
79,UnitedStates,60847.745432,13752.840613,32759.990457

In [12]:
#Gdp to expenditure ratio
expend_ratio = pd.read_excel('GovAndPrivExpend.xls', header=4)
expend_ratio = expend_ratio.drop(axis=0, index=0)
expend_ratio = expend_ratio.loc[:, list(range(1, 26))]
expend_ratio[1] = expend_ratio[1].str.replace('[^a-zA-Z\s]', '', regex=True)

In [13]:
read_lit = pd.read_excel('ReadingLiteracy2018.xls', header=5)
read_lit = read_lit.drop(axis=0, index=0)
read_lit = read_lit.loc[:, [1, 2]]
read_lit = read_lit.drop(axis=0, index=list(range(80, 97)))
read_lit[1] = read_lit[1].str.replace('[^a-zA-Z\s]', '', regex=True)
read_lit = read_lit.rename(columns={2: "reading literacy"})

read_lit

                                    1 reading literacy
1                          Australia        502.631724
2                            Austria        484.392569
3                            Belgium        492.864439
4                             Canada        520.085521
5                              Chile        452.272554
..                                ...              ...
75                   Singapore              549.464708
76    Thailand                              392.888641
77       Ukraine                            465.950148
78    United Arab Emirates                  431.781769
79      Uruguay                             427.117618

[79 rows x 2 columns]

In [14]:
math_lit = pd.read_excel('MathLiteracy2018.xls', header=5)
math_lit = math_lit.drop(axis=0, index=0)
math_lit = math_lit.drop(axis=0, index=list(range(80, 97)))
math_lit = math_lit.loc[:, [1, 2]]
math_lit[1] = math_lit[1].str.replace(r'[^a-zA-Z]', '', regex=True)
math_lit = math_lit.rename(columns={2: "math literacy"})

math_lit

                     1 math literacy
1            Australia    491.360025
2              Austria    498.942314
3              Belgium    508.070306
4               Canada    512.016943
5                Chile    417.406556
..                 ...           ...
75           Singapore     569.00778
76            Thailand    418.555502
77             Ukraine    453.117499
78  UnitedArabEmirates    434.947252
79             Uruguay    417.661617

[79 rows x 2 columns]

In [15]:
sci_lit = pd.read_excel('ScienceLiteracy2018.xls', header=5)
sci_lit = sci_lit.drop(axis=0, index=0)
sci_lit = sci_lit.drop(axis=0, index=list(range(80, 97)))
sci_lit = sci_lit.loc[:, [1, 2]]

sci_lit[1] = sci_lit[1].str.replace(r'[^a-zA-Z]', '', regex=True)
sci_lit = sci_lit.rename(columns={2: "science literacy"})

sci_lit

                     1 science literacy
1            Australia       502.964563
2              Austria        489.78044
3              Belgium       498.773127
4               Canada       517.997661
5                Chile       443.582563
..                 ...              ...
75           Singapore         550.9369
76            Thailand        425.81345
77             Ukraine       468.987743
78  UnitedArabEmirates       433.636803
79             Uruguay       425.812677

[79 rows x 2 columns]

In [16]:
bach_deg = pd.read_excel('BachelorsDeg.xls', header=3)
bach_deg = bach_deg.drop(axis=0, index=0)
bach_deg = bach_deg.drop(axis=0, columns=2)
bach_deg = bach_deg.loc[:, [1]+list(range(3, 10))]

In [17]:
dfs = [enroll_capacity, enroll_prek, teacher_ratio, class_size, selfrep_bully, school_safety, school_discipline, 
       school_drugs, school_bully, expend_abs, read_lit, math_lit, sci_lit]

df_list = dfs

for df in df_list:
    df[1] = df[1].str.replace(r'[^a-zA-Z]', '', regex=True)
    df.set_index(1, inplace=True)

In [18]:
data = dfs[0]

for df in dfs[1:]:
    data = pd.merge(data, df, left_index=True, right_index=True, how='outer')
    
data = data[data.index.notnull()]
data

,elem enroll ratio,sec enroll ratio,postsec enroll ratio,prek enroll,elem teacher ratio,low sec teacher ratio,hi sec teacher ratio,elem class size,low sec class size,4th never bullied,...,Many drugs,Teacher no bully,Teacher some bully,Teacher many bully,gdp per capita,prim/sec per student spending,postsec per student spending,reading literacy,math literacy,science literacy
1,,,,,,,,,,,,,,,,,,,,,
Afghanistan,102.31052,53.79764,---,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,405.429366,437.221991,416.726258
Algeria,111.76448,---,47.64683,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Angola,---,---,---,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Venezuela,97.15034,88.07702,---,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Vietnam,109.15083,---,---,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Yemen,---,---,---,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zambia,98.71552,---,---,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zimbabwe,---,---,---,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
print(data.index.tolist())

['Afghanistan', 'Africa', 'Albania', 'Algeria', 'Angola', 'Argentina', 'Asia', 'Australia', 'Australia', 'Austria', 'Austria', 'Bahrain', 'BakuAzerbaijan', 'Bangladesh', 'BeijingShanghaiJiangsuZhejiangChina', 'Belarus', 'Belgium', 'Belgium', 'BelgiumFlemish', 'BelgiumFrench', 'Benin', 'Bolivia', 'BosniaandHerzegovina', 'Brazil', 'BruneiDarussalam', 'Bulgaria', 'BurkinaFaso', 'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Canada', 'CentralandSouthAmerica', 'Chad', 'Chile', 'Chile', 'China', 'ChineseTaipei', 'Colombia', 'Colombia', 'CostaRica', 'CostaRica', 'CotedIvoire', 'Croatia', 'Cuba', 'Cyprus', 'CzechRepublic', 'CzechRepublic', 'DemocraticRepublicoftheCongo', 'Denmark', 'Denmark', 'DominicanRepublic', 'Ecuador', 'Egypt', 'England', 'EnglandUnitedKingdom', 'Estonia', 'Estonia', 'Ethiopia', 'Europe', 'Finland', 'Finland', 'France', 'France', 'Georgia', 'Germany', 'Germany', 'Ghana', 'Greece', 'Greece', 'Guatemala', 'Guinea', 'Haiti', 'HongKongChina', 'Hungary', 'Hungary', 'Iceland', 'Iceland', 'India', 'Indonesia', 'Iran', 'IranIslamicRepublicof', 'Iraq', 'Ireland', 'Ireland', 'Israel', 'Israel', 'Italy', 'Italy', 'Japan', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'KoreaNorth', 'KoreaRepublicof', 'KoreaRepublicof', 'KoreaSouth', 'Kosovo', 'Kuwait', 'Latvia', 'Latvia', 'Lebanon', 'Lithuania', 'Lithuania', 'Luxembourg', 'Luxembourg', 'MacaoChina', 'Madagascar', 'Malawi', 'Malaysia', 'Mali', 'Malta', 'Mexico', 'Mexico', 'MoldovaRepublicof', 'MontenegroRepublicof', 'Morocco', 'Mozambique', 'Myanmar', 'Nepal', 'Netherlands', 'Netherlands', 'NewZealand', 'NewZealand', 'Niger', 'Nigeria', 'NonOECDeducationsystems', 'NorthMacedonia', 'NorthernAmerica', 'NorthernIrelandUnitedKingdom', 'Norway', 'Norway', 'OECDaverage', 'Oceania', 'Oman', 'Otherreportingcountries', 'Pakistan', 'Panama', 'Peru', 'Philippines', 'Poland', 'Poland', 'Portugal', 'Portugal', 'Qatar', 'Romania', 'RussianFederation', 'Rwanda', 'SaudiArabia', 'Scotland', 'Senegal', 'Serbia', 'Singapore', 'SlovakRepublic', 'SlovakRepublic', 'Slovenia', 'Slovenia', 'Somalia', 'SouthAfrica', 'SouthSudan', 'Spain', 'Spain', 'SriLanka', 'Sudan', 'Sweden', 'Sweden', 'Switzerland', 'Switzerland', 'Syria', 'Taiwan', 'Tanzania', 'Thailand', 'Tunisia', 'Turkey', 'Turkey', 'Uganda', 'Ukraine', 'UnitedArabEmirates', 'UnitedKingdom', 'UnitedKingdom', 'UnitedStates', 'UnitedStates', 'Uruguay', 'Uzbekistan', 'Venezuela', 'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe']

In [20]:
# Convert columns to a common data type, like float
df = data.apply(lambda x: pd.to_numeric(x, errors='coerce'))

# Reset the index to make the row headers a column
df_reset = df.reset_index()

# Group the DataFrame by the header column and sum the values in each group
df_grouped = df_reset.groupby(1).sum()

# Reset the index again to make the row headers a proper index
df_merged = df_grouped.reset_index().set_index(1)

df_merged.index.name = 'Country'

In [21]:
df_merged

,elem enroll ratio,sec enroll ratio,postsec enroll ratio,prek enroll,elem teacher ratio,low sec teacher ratio,hi sec teacher ratio,elem class size,low sec class size,4th never bullied,...,Many drugs,Teacher no bully,Teacher some bully,Teacher many bully,gdp per capita,prim/sec per student spending,postsec per student spending,reading literacy,math literacy,science literacy
Country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,102.31052,53.79764,0.00000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000
Africa,0.00000,0.00000,0.00000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000
Albania,0.00000,0.00000,0.00000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,405.429366,437.221991,416.726258
Algeria,111.76448,0.00000,47.64683,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000
Angola,0.00000,0.00000,0.00000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Venezuela,97.15034,88.07702,0.00000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000
Vietnam,109.15083,0.00000,0.00000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000
Yemen,0.00000,0.00000,0.00000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000
Zambia,98.71552,0.00000,0.00000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000
Zimbabwe,0.00000,0.00000,0.00000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000

In [22]:
zero_count = (df_merged == 0).sum(axis=1)

In [23]:
DF_CLEAN = df_merged[zero_count <= 30]

In [24]:
DF_CLEAN

,elem enroll ratio,sec enroll ratio,postsec enroll ratio,prek enroll,elem teacher ratio,low sec teacher ratio,hi sec teacher ratio,elem class size,low sec class size,4th never bullied,...,Many drugs,Teacher no bully,Teacher some bully,Teacher many bully,gdp per capita,prim/sec per student spending,postsec per student spending,reading literacy,math literacy,science literacy
Country,,,,,,,,,,,,,,,,,,,,,
Australia,200.67796,300.62296,226.28432,158.472,30.866,0.000,24.508,46.778,42.844,90.0,...,16.0,24.0,140.0,36.0,97267.670538,22331.511476,42197.455431,1005.263449,982.720050,1005.929126
Austria,0.00000,0.00000,0.00000,167.448,23.686,17.460,20.298,36.824,42.300,0.0,...,22.0,36.0,128.0,36.0,103945.270981,29003.235648,36549.216937,968.785137,997.884628,979.560879
Bahrain,0.00000,0.00000,0.00000,0.000,0.000,0.000,0.000,0.000,0.000,34.0,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
Belgium,207.81114,317.08370,159.32346,196.384,25.568,18.146,19.848,0.000,0.000,0.0,...,18.0,28.0,120.0,52.0,96377.683733,24808.787502,36442.789973,985.728877,1016.140613,997.546254
BelgiumFlemish,0.00000,0.00000,0.00000,0.000,0.000,0.000,0.000,0.000,0.000,47.0,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Thailand,99.62503,116.73394,0.00000,0.000,0.000,0.000,0.000,0.000,0.000,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,392.888641,418.555502,425.813450
Turkey,186.30996,211.98454,0.00000,41.596,36.810,33.522,28.290,43.200,51.362,114.0,...,8.0,74.0,114.0,12.0,72449.953827,12818.050174,29166.039701,931.263333,907.015556,936.599237
UnitedArabEmirates,0.00000,0.00000,0.00000,0.000,0.000,0.000,0.000,0.000,0.000,43.0,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,431.781769,434.947252,433.636803
UnitedKingdom,202.30912,251.70374,119.99114,200.000,36.716,28.538,52.196,55.762,48.582,0.0,...,0.0,42.0,150.0,8.0,86964.441211,23200.684680,55371.765150,1007.856218,1003.539798,1009.334947
UnitedStates,203.64288,197.90468,176.33478,108.838,30.708,30.748,30.752,42.400,53.000,112.0,...,38.0,26.0,146.0,28.0,116571.573432,26347.570613,62761.300457,1010.705542,956.489435,1004.760064